body{
    font: 20px arial ;
}


.navbar {
    background-color: #ACB2B2;
}
.quem-somos{
    background-color: rgba(98, 13, 235, 0.637);
}
.margin{
    
    padding-bottom: 30px;
}
.texto-somos{
    color: cornsilk;
}
.Parceiros{
    background-color: blueviolet;
}